:root {
  --color: rgb(66, 118, 130);
  --alt-color: rgb(148, 80, 146);
  --opt-color: rgb(148, 80, 80);
  --bg-color: rgb(148, 80, 80);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

html {
  margin: 5rem;
  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
  font-weight: 400;
  padding-top: 2rem;
  border-top: 1px solid #3336;
}

.big {
  font-size: 5rem;
  font-style: italic;
  font-weight: 400;
}

.container {
  box-shadow: 15px 15px 40px #ff000033;
}

.grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-item {
  padding: 5rem;
}

.grid-item-one {
  grid-column: span 3;
}


.test-image {
  width: 10rem;
  height: 10rem;

  position: fixed;
  top: 5rem;
  right: 5rem;
}